/Backend/.serverless
/Backend/node_modules
/VotingApplication/node_modules
/Poll/public/iot
/Poll/public/built
/Poll/node_modules
/Poll/javascripts/identity.js
VotingApplication/secrets.js
Poll/javascripts/secrets.js
Backend/serverless.env.yml
VotingApplication/.DS_Store
.DS_Store
